.space-setting-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .space-setting-row .setting-item {
    flex-grow: 1;
  }

  .space-setting-row .dropdown-component {
    width: 150px;
  }

  .space-setting-row .setting-item-text input {
    width: 300px;
  }

  .space-setting-row .button-component {
    margin-left: 10px;
  }